<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title><%= nomeLoja %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Bem-vindo à <%= nomeLoja %></h1>
    <p>O seu e-commerce em Node.js está ganhando forma!</p>
    
    <a href="/produtos">Ver Produtos</a>
</body>
</html>