<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title><%= nomeLoja %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('partials/header') %>
    <div class="container" style="text-align: center; margin-top: 10vh;">
        <div style="font-size: 5rem;">🚀</div>
        <h1><%= nomeLoja %></h1>
        <p style="color: #8892b0; font-size: 1.2rem;">A melhor tecnologia a um clique de distância.</p>
        
        <a href="/produtos" class="btn">Explorar Vitrine</a>
        
    </div>
</body>
</html>